body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #1351d8;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.Top{
        text-align: center;
        font-family: Verdana;
        font-style: bolder;
        font-size: 2vw;
}

#title{
        text-align: center;
        font-family: Georgia;
        font-size: 7vw;
}


span > p{
        font-family: ;
        text-align: left;
        font-size: 2vw;
    }
    
.finish{
        width:40vw;
        height:33vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
}

#Miles{
 width:40vw;
 display:block;
 margin-left:auto;
 margin-right:auto;
}

.Captions{
    text-align:center;
    font-family:Verdana;
    font-style:italic;
    font-size:1vw;
}



h1 {
 text-align:center;   
}